@import '../assets/variables.scss';

.profile-wrapper {
  width: 100%;
  height: fit-content;
  margin: 20px auto;

  .profile_header {
    width: fit-content;
    margin: 10px auto;
    font-weight: bold;
    font-size: 22px;
  }

  .profile {
    margin: auto;
    box-shadow: $main-box-shadow;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 50px 25px;
    overflow: hidden;
    position: relative;
    height: fit-content;
    width: 70%;

    .profile-info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .profile-info_lines {
        margin: auto 25px;

        .profile-info_line {
          display: flex;
          flex-direction: column;
          padding: 5px;

          .profile-info_line-subject {
            font-weight: bold;
            margin: auto;
          }

          .profile-info_line-info {
            margin: auto;
          }
        }
      }

      .profile-info_avatar {
        width: fit-content;
        margin: auto 25px;

        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 0;
    margin: 15px 0;
    padding: 10px;
    overflow: hidden;
    position: relative;
    height: fit-content;
    width: 100%;
  }
}
