@import '../assets/variables.scss';

.categories-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 250px;
  height: fit-content;

  .categories {
    display: flex;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 0;
    width: fit-content;
    margin: auto;

    .category {
      // padding: 15px;
      height: 100%;
      margin: 15px;
      background-color: transparent;
      border: 0;

      &:hover {
        cursor: pointer;
      }

      .category-name {
        z-index: 1;
        font-size: 15px;
        width: fit-content;
        margin: auto;
      }
    }
  }

  .category_slides {
    display: flex;
    position: absolute;
    transition: transform 0.3s;
    height: fit-content;

    .category_slide {
      width: 100vw;
      display: flex;
      justify-content: center;
      height: fit-content;

      .category-items {
        display: flex;
        flex-wrap: wrap;
        // width: 100%;

        .category-item {
          height: fit-content;

          .category-item_img {
            height: 150px;
            width: 250px;
            background-size: cover;
          }

          .category-item_name {
            width: fit-content;
          }

          .category-item_price {
            width: fit-content;
          }
        }
      }
    }
  }

  .category_active {
    position: relative;
    height: 2px;
    transition: margin 0.3s, width 0.3s;

    &:after {
      position: absolute;
      content: '';
      bottom: 2px;
      left: 0;
      height: 2px;
      padding: .5px;
      width: 100%;
      background-color: $main-color;
    }
  }
}
