@import '../components/assets/variables.scss';

body {
  font-family: $montserrat, sans-serif;
  margin: 0;
  background-color: $main-background-color;

  a {
    text-decoration: none;
  }

  select {
    &:focus {
      outline: none;
    }
  }
}

.block-header {
  font-size: 23px;
  font-weight: bold;
  padding: 5px;
}

.block-wrapper {
  padding: 20px 0 0 0;
}

.component-wrapper {
  .container {
    min-height: calc(100vh - 276px);
    width: 75%;
    display: flex;
    margin: auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 1200px) {
  .component-wrapper {
    .container {
      width: 100%;
    }
  }
}
